---
<h1><center>  Lab 2: Introduction to Python - Part 2 </center>
    <img src="https://files.realpython.com/media/real-python-video-courses-title-wide.daf71ae6460c.png" width="400">

> ```Created by Jinnie Shin (jinnie.shin@coe.ufl.edu)```\
> ```Date: ```
---

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmNf86oJnfhpkPA9LnrFnAbfwF2VywPYpB_w&usqp=CAU" align="left" width="70" height="70" align="left"> 

 ### Required Packages or Dependencies

In [5]:
import ipywidgets as widgets 
from ipywidgets import interact, interact_manual
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt
import pandas as pd
import os

## 1. Importing a data file with ```Pandas```

In [ ]:
!pip install pandas

### 1.1 load the essay dataset (csv file)

>  We will use ```pandas.read_csv``` to open a csv file from a desingated directory.
>  Excel files can be imported using ```pandas.read_excel```

In [6]:
input_dir = './week3_data/'
filename = 'training_set_rel3.xlsx'

df = pd.read_excel(input_dir+filename)
#dat_csv = pd.read_csv('the right directory and your file name')

In [7]:
@interact
def show_responses(column='essay_set', x=8):
    return df.loc[df[column] == x ][:5][['essay_id', 'essay_set', 'essay', 'domain1_score']]

interactive(children=(Text(value='essay_set', description='column'), IntSlider(value=8, description='x', max=2â€¦

## 2. Key Functions and Arguments in ```Pandas```
> ```pandas``` provide various functions and extensions so that we could manipulate and implement learning models using ```dataframe``` or ```df``` as inputs.

In [9]:
df.columns # we just used pd.read_excel() in order to upload your dataset

Index(['essay_id', 'essay_set', 'essay', 'rater1_domain1', 'rater2_domain1',
       'domain1_score', 'Content', 'Organization', 'Word Choice',
       'Sentence Fluency', 'Conventions', 'Prompt Adherence', 'Language',
       'Narrativity'],
      dtype='object')

In [10]:
df.index # index number

RangeIndex(start=0, stop=12978, step=1)

> Dimension of the dataframe can be simply checked using ```len()``` or ```.shape()```

In [14]:
df.shape # without the .()

(12978, 14)

In [ ]:
df.shape # (N samples X N columns)

[6, 7, 8, 9]

In [ ]:
new_list.clear() # clear the list 
print(new_list)

[]

## 3. Subselecting or Slicing a dataframe <a class="anchor" id="matrix"></a>

> Subselecting and extracting rows based on row numbers ```df.iloc[index]```

In [20]:
start_row = 0
finish_row = 10
df.iloc[start_row:finish_row] # Extract row 0 to row 10

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,domain1_score,Content,Organization,Word Choice,Sentence Fluency,Conventions,Prompt Adherence,Language,Narrativity
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,8.0,4.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,9.0,4.0,4.0,4.0,3.0,4.0,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,7.0,3.0,3.0,3.0,4.0,4.0,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,10.0,5.0,4.0,5.0,4.0,4.0,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,8.0,4.0,3.0,4.0,4.0,4.0,NaN,NaN,NaN
5,6,1,"Dear @LOCATION1, I think that computers have a...",4.0,4.0,8.0,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN
6,7,1,Did you know that more and more people these d...,5.0,5.0,10.0,5.0,4.0,4.0,5.0,5.0,NaN,NaN,NaN
7,8,1,@PERCENT1 of people agree that computers make ...,5.0,5.0,10.0,6.0,5.0,5.0,5.0,4.0,NaN,NaN,NaN
8,9,1,"Dear reader, @ORGANIZATION1 has had a dramatic...",4.0,5.0,9.0,5.0,4.0,3.0,4.0,4.0,NaN,NaN,NaN
9,10,1,In the @LOCATION1 we have the technology of a ...,5.0,4.0,9.0,3.0,4.0,3.0,3.0,3.0,NaN,NaN,NaN

> subselecting a row using index (i.e. ID) ```df.loc[index]```

In [21]:
row_index = 7
df.loc[row_index] # Extract row with the ID 9

essay_id                                                            8
essay_set                                                           1
essay               @PERCENT1 of people agree that computers make ...
rater1_domain1                                                    5.0
rater2_domain1                                                    5.0
domain1_score                                                    10.0
Content                                                           6.0
Organization                                                      5.0
Word Choice                                                       5.0
Sentence Fluency                                                  5.0
Conventions                                                       4.0
Prompt Adherence                                                  NaN
Language                                                          NaN
Narrativity                                                       NaN
Name: 7, dtype: object

> Let's call the ```domain1_score``` column and look at the descriptive statistics using ```df.describe()```

In [25]:
df['domain1_score'].describe() #you can either speciy the name of the column inside the square br
df.domain1_score.describe() #or .[column name] if the column name is one-word, thus no white space.

count    12977.000000
mean         6.799723
std          8.970558
min          0.000000
25%          2.000000
50%          3.000000
75%          8.000000
max         60.000000
Name: domain1_score, dtype: float64

>   Let's extract rows based on column values, E.G., students who got score 9 or 5

In [31]:
print(len(set(df.domain1_score))) #  a total of 54 score categories
#df[df['domain1_score']== 9]
new_df = df[(df['domain1_score']== 9) | (df['domain1_score']== 5)]

set(new_df.domain1_score)

54

{5.0, 9.0}

## 4. Applying a ```function``` directly to the dataframe
> We learned different types of string methods last time (e.g., ```string.lower()```). We will create a functionusing the string methods and directly apply it to the entities of the dataframe. 
    
    > dataframe[column].apply(function)
    > dataframe[column].apply(lambda x: function(x))

> First we will create a ```function``` called ```split_words```

In [33]:
def split_words(string): 
    string = string.lower() #lowercase
    return string.split(' ') #split words into a list 

#split_words('I want to test this out')

df

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,domain1_score,Content,Organization,Word Choice,Sentence Fluency,Conventions,Prompt Adherence,Language,Narrativity
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,8.0,4.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,9.0,4.0,4.0,4.0,3.0,4.0,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,7.0,3.0,3.0,3.0,4.0,4.0,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,10.0,5.0,4.0,5.0,4.0,4.0,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,8.0,4.0,3.0,4.0,4.0,4.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12973,21626,8,In most stories mothers and daughters are eit...,17.0,18.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12974,21628,8,I never understood the meaning laughter is th...,15.0,17.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12975,21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",20.0,26.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12976,21630,8,Trippin' on fen...,20.0,20.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12977,21633,8,Many people believe that laughter can improve...,20.0,20.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> Let's apply this function to the column ```essay``` (```df.essay``` or ```df['essay'] ```). We will use the `apply` function

In [35]:
df['essay_tokenized']= df['essay'].apply(split_words)

In [36]:
df

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,domain1_score,Content,Organization,Word Choice,Sentence Fluency,Conventions,Prompt Adherence,Language,Narrativity,essay_tokenized
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,8.0,4.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,"[dear, local, newspaper,, i, think, effects, c..."
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,9.0,4.0,4.0,4.0,3.0,4.0,NaN,NaN,NaN,"[dear, @caps1, @caps2,, i, believe, that, usin..."
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,7.0,3.0,3.0,3.0,4.0,4.0,NaN,NaN,NaN,"[dear,, @caps1, @caps2, @caps3, more, and, mor..."
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,10.0,5.0,4.0,5.0,4.0,4.0,NaN,NaN,NaN,"[dear, local, newspaper,, @caps1, i, have, fou..."
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,8.0,4.0,3.0,4.0,4.0,4.0,NaN,NaN,NaN,"[dear, @location1,, i, know, having, computers..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12973,21626,8,In most stories mothers and daughters are eit...,17.0,18.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[, in, most, stories, mothers, and, daughters,..."
12974,21628,8,I never understood the meaning laughter is th...,15.0,17.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[, i, never, understood, the, meaning, laughte..."
12975,21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",20.0,26.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[when, you, laugh,, is, @caps5, out, of, habit..."
12976,21630,8,Trippin' on fen...,20.0,20.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[, , , , , , , , , , , , , , , , , , , , , , ,..."
12977,21633,8,Many people believe that laughter can improve...,20.0,20.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[, many, people, believe, that, laughter, can,..."

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">


### Task 1: Define a function and apply it to a dataframe
> Q1: Let's define another function (`count`) that counts the number of unique words in a list. \
> Q2: Let's apply the `count` function to `df['essay_list']`
    >- *What is the index number of the response with the most unique number of words?* `.argmax()`
    > Q3: Define a new `count` function that excludes the masked words (e.g.,`['@caps1', '@caps2', '@caps3', '@location1', '@location2', '@organization1', '@organization2']`

In [38]:
################### Your Code Here ############################
#Q1 ANSWER 
def count(lst):
    temp = set(lst)
    
    return len(list(temp))
###############################################################

4

In [43]:
################### Your Code Here ############################
#Q2 ANSWER 
df['word_count'] = df.essay_tokenized.apply(count)

###############################################################

df['word_count_total'] = df.essay_tokenized.apply(len)

df['word_count_total'].max()

1119

In [49]:
################### Your Code Here ############################
#Q3 ANSWER 
def count_new(lst): #input will look something like [dear, local, newspaper, i, @caps1]
    new_lst = []
    for word in lst:
        if '@' not in word:
            new_lst.append(word)
        else:
            new_lst = new_lst
    
    return len(new_lst)
###############################################################

df['word_count_except']= df.essay_tokenized.apply(count_new)

df

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,domain1_score,Content,Organization,Word Choice,Sentence Fluency,Conventions,Prompt Adherence,Language,Narrativity,essay_tokenized,word_count,word_count_total,word_count_except
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,8.0,4.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,"[dear, local, newspaper,, i, think, effects, c...",177,338,333
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,9.0,4.0,4.0,4.0,3.0,4.0,NaN,NaN,NaN,"[dear, @caps1, @caps2,, i, believe, that, usin...",207,419,409
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,7.0,3.0,3.0,3.0,4.0,4.0,NaN,NaN,NaN,"[dear,, @caps1, @caps2, @caps3, more, and, mor...",158,279,272
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,10.0,5.0,4.0,5.0,4.0,4.0,NaN,NaN,NaN,"[dear, local, newspaper,, @caps1, i, have, fou...",267,524,483
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,8.0,4.0,3.0,4.0,4.0,4.0,NaN,NaN,NaN,"[dear, @location1,, i, know, having, computers...",217,465,461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12973,21626,8,In most stories mothers and daughters are eit...,17.0,18.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[, in, most, stories, mothers, and, daughters,...",368,848,793
12974,21628,8,I never understood the meaning laughter is th...,15.0,17.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[, i, never, understood, the, meaning, laughte...",256,548,516
12975,21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",20.0,26.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[when, you, laugh,, is, @caps5, out, of, habit...",400,818,761
12976,21630,8,Trippin' on fen...,20.0,20.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[, , , , , , , , , , , , , , , , , , , , , , ,...",282,594,574
12977,21633,8,Many people believe that laughter can improve...,20.0,20.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[, many, people, believe, that, laughter, can,...",244,468,457

## 5. *Preliminary* Descriptive Analysis with `Pandas`

> Basic descriptive statistics using `df.max()`, `df.min()`, `df.mean()`, `df.mode()`

In [50]:
print(df.word_count.min())

2

In [51]:
print(df.word_count.max())

508

In [52]:
print(df.word_count.mean())

118.34674063800277

In [53]:
print(df.word_count.mode())

0    52
dtype: int64

> Correlation Analysis using `df.corr()`

In [54]:
# correlation beween X(word count) Y (domain1_score)
for i in list(set(df.essay_set)):
    value = df[df.essay_set==i].corr()['word_count']['domain1_score']
    print('correlation coefficient for essay set: ', i)
    print(round(value,2))

correlation coefficient for essay set:  1
0.83
correlation coefficient for essay set:  2
0.7
correlation coefficient for essay set:  3
0.71
correlation coefficient for essay set:  4
0.74
correlation coefficient for essay set:  5
0.82
correlation coefficient for essay set:  6
0.71
correlation coefficient for essay set:  7
0.71
correlation coefficient for essay set:  8
0.64